extends ../../layouts/default

block head
  title Title

block body
  #addViewModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addViewModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4#addViewModalLabel.modal-title
        .modal-body
          div#alerts
          form
            .form-group
              label.control-label(for='viewDate') Дата:
              input#viewDate.form-control(type='date')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Отмена
          button.btn.btn-primary#addViewModalSave(type='button') Сохранить

  section.vbox
    section.scrollable.padder
      div.page-header
        h3.m-b-none=item['title']['russian']
        span=item['title']['original']

      div.row
        div.col-xs-4
          img(src='#{hostUrl}posters/'+item['year']+'/'+item['sid']+'.jpg', width='100%')
          button(type="button" class="btn btn-primary btn-block") Хочу посмотреть
          button.btn.btn-success.btn-block(type='button', data-toggle='modal', data-target='#addViewModal', data-title=item['title']['russian'], data-movie-id=item['sid']) Посмотрел
        div.col-xs-8
          table.table.table-striped
            tbody
              tr
                td(width=150) Год:
                td=item['year']
              tr
                td(width=150) Премьера :
                td=item['date_format']
              tr
                td(width=150) Режиссер:
                td
              tr
                td(width=150) В ролях:
                td
              tr
                td(width=150) Длительность:
                td=item['duration'] + ' мин.'
              tr
                td(width=150) Страны:
                td
              tr
                td(width=150) Жанр:
                td
                  for g in item['genre']
                    = g['name'] + ', '

        div.col-xs-12=item['desc']

        div.col-xs-12
          h3 Ваши просмотры

          table.table.table-striped
            tbody
              tr
                th(width='100') Дата
                th Комментарий
              for userMovie in userList
                tr
                  th=userMovie['date_format']
                  th=userMovie['comment']

        div.col-xs-4
          h3
            a(href='#') Оценки
          p Средняя
            strong  8,2
            | /10
            a(href="views")  (109 пользователей)
          p Рейтинг IMDb:
          p Рейтинг Кинопоиск:

        div.col-xs-4
          h3
            a(href='#') Просмотры
          p
            a(href="views") (
              strong 152
              |  пользователя)
          p
            | Вы смотрели этот фильм 2 раза

        div.col-xs-4
          h3
            a(href='#') Будут смотреть
          p
            strong 169
            |  раз
            a(href="views")  (15 пользователей)

  a.hide.nav-off-screen-block(href='#', data-toggle='class:nav-off-screen', data-target='#nav')
