doctype html
html.app
  head
    meta(charset='utf-8')
    block head
      title #{title}
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='stylesheet', href='#{hostUrl}css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='#{hostUrl}css/animate.css', type='text/css')
    link(rel='stylesheet', href='#{hostUrl}css/font-awesome.css', type='text/css')
    link(rel='stylesheet', href='#{hostUrl}css/icon.css', type='text/css')
    link(rel='stylesheet', href='#{hostUrl}css/font.css', type='text/css')
    link(rel='stylesheet', href='#{hostUrl}css/app.css', type='text/css')
  body
    section#content.m-t-lg.wrapper-md.animated.fadeInDown
      .container.aside-xl
        a.navbar-brand.block(href='/') Crisppic
        section.m-b-lg
          block body

    footer#footer
      .text-center.padder.clearfix
        p
          small Crisppic © 2015
    script(src='#{hostUrl}js/jquery.js')
    // Bootstrap
    script(src='#{hostUrl}js/bootstrap.js')
    // App
    script(src='#{hostUrl}js/app.js')
